* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/

/* 🌙 다크모드 스타일 */
body.dark {
  background-color: #1e1e1e;
  color: #dddddd;
}

body.dark a {
  color: #9dc6a7;
}

body.dark a:hover {
  color: #b2f0d2;
}

body.dark #grid {
  background-color: #2a2a2a;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

body.dark .desc {
  color: #aac8aa;
}